@import '../../../styles/settings.scss';

// .root {
// }

.main {
  background-color: $color-main;
  // font-size: 16px;
  // line-height: 24px;
  // font-weight: 600;
  // padding: 10px 30px;




  border: 0;
  color: $color-light-blue;
  // text-align: center;
  line-height: 1.1;
  padding: $base-size;
  // margin: 0 $base-size;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 300;
  // text-transform: uppercase;
  // transition: all 0.5s;
}

.quantityChange {
  @extend .main;
  background-color: $font-color-header;
  // color: $color-main-dark;
  font-weight: 700;
  line-height: 1;
}