@import '../../../styles/settings.scss';

.main {
  background-color: $color-main;
  border: 0;
  color: $color-light-blue;
  line-height: 1.1;
  padding: $base-size;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 300;
  width: $base-padding*4.2;

  &:hover {
    background: radial-gradient($color-main 40%, $color-main-dark);
  }
}

.main-long {
  @extend .main;
  width: $base-padding*5.2;
}

.quantityChange {
  @extend .main;
  background-color: $font-color-header;
  font-weight: 700;
  line-height: 1;
  width: $base-padding*1.5;

  &:hover {
    background: radial-gradient($font-color-header, $font-color-header-dark);
  }
}

.cartGrey {
  @extend .main;
  background-color: $color-light-grey;
  font-size: $base-size*1.1;
  border: 1px solid $font-color-text;
  color: $font-color-text;
  font-weight: 500;
  width: $base-padding*5.6;

  &:hover {
    background: radial-gradient($color-main, $font-color-text);
    color: $color-light-grey;
  }
}

.update {
  @extend .main;
  background-color: $font-color-header;

  &:hover {
    background: radial-gradient($font-color-header, $font-color-header-dark);
  }
}

.small {
  @extend .update;
  font-size: $base-size*1.2;
  width: $base-padding*5.2;
}