@import '../../../styles/settings.scss';

.root {

  .photoContainer {
    min-height: 80%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: $base-padding*0.5;

    .photo {
      max-width: 100%;
      object-fit: cover;
      border: 1px solid $color-main;
      border-radius: 7px;
    }
  }

  .sliderBox {
    padding: $base-padding * 0.5;
    min-height: 20%;
    justify-content: space-between;

    .photoContainerMini {
      margin: 0 10px;
      padding: 0;
      
      .photoMini {
        max-width: 100%;
        object-fit: cover;
        border: 1px solid $font-color-header;
        border-radius: 7px;
      }
    }
  }

  .productInfoContainer {
    padding: $base-padding*0.5 $base-padding;

    .productIntro {
      align-self: center;
      
      .productIntro p {
        text-align: right;
      }
    }

    .productIntro p {
      color: $color-main;
    }

    p {
      margin: 0;
    }

    .addQuantity {
      margin: $base-padding*0.5 0;
      padding: 0;
    }

    .addQuantityButton {
      @extend .addQuantity;
      margin: $base-padding*0.25 $base-padding*0.5;
    }

    .addQuantity p {
      margin-bottom: $base-padding*0.5;
      padding: 0;
    }  
  }

  .decoration {
    @extend .productInfoContainer;
    border-bottom: 2px solid $font-color-header;
  }
}
