@import '../../../styles/settings.scss';

.root {

  .orderContainer {
    border: 1px solid $color-main;
    border-radius: 7px;
    margin: $base-padding;
    padding: $base-padding;

    .values{
      padding: 0;
    }

    .pOrder {
      font-size: $base-size*1.2;
      margin-bottom: $base-padding*0.25;
    }

    .pOrderLast {
      @extend .pOrder;
      border-top: 1px solid $color-main-dark;
      border-bottom: 1px solid $color-main-dark;
      padding: $base-padding*0.25 0;
    }
  
    .pTotal {
      margin-bottom: 0;
    }

    .pProd {
      font-size: $base-size;
    }

    .amendBtn {
      text-align: center;
      padding-bottom: $base-padding*0.5;
    }

    .pInfo {
      margin-bottom: $base-padding*0.25;
    }

    .strong {
      color: $font-color-header;

    }

    .formContainer {
      // margin: $base-padding*0.5 $base-padding*15;
      max-width: 300px;
      margin: $base-padding*0.5;
      // text-align: -webkit-center;

      .inputContainer {
        margin: $base-padding*0.5;
        
        .inputForm {
          width: -webkit-fill-available;
          border: 1px solid $font-color-header;
          border-radius: 7px;
          padding: $base-padding*0.1 $base-padding*0.5;
          color: $color-main-dark;
        }
      }
    }
  }
}
