@import '../../../styles/settings.scss';

.root {
  .mainContainer{
    text-align: -webkit-center;

    .formContainer {
      margin: $base-padding*0.5 $base-padding*15;
      max-width: 300px;
      border: 1px solid $color-main;
      border-radius: 7px;
      margin: $base-padding;
      padding: $base-padding;

      .inputContainer {
        margin: $base-padding*0.5;
        
        .inputForm {
          width: -webkit-fill-available;
          border: 1px solid $font-color-header;
          border-radius: 7px;
          padding: $base-padding*0.1 $base-padding*0.5;
          color: $color-main-dark;
        }
      }
    }

    .pRegister {
      color: $color-main;
    }
  }
}
