$base-size: 12px;
$base-padding: 24px;



// Color Variables
$color-main: #22a6b3;
$color-main-dark:#156971;

$color-light-blue: #dff9fb;
$color-light-grey: #eff0f2;

$font-color-header: #ff7979;
$font-color-header-dark: #eb4d4b;
$font-color-text: #535c68;


h2, h4, h5 {
  color: $font-color-header;
}

h3 {
 color: $color-main; 
}

p {
  color: $font-color-text;
}
