@import '../../../styles/settings.scss';

.root {
  // margin-left: -$base-padding;
  // margin-right: -$base-padding;
  margin: -$base-padding;
  margin-bottom: 0;


  .highlightPhoto {
    max-width: 100%;
    padding: 0;
  }

}
