@import '../../../styles/settings.scss';

.root {

  background: linear-gradient($color-main-dark, 10%, $color-main, 90%, $color-main-dark);
  font-size: 13px;
  height: 55px;
  padding: 0 $base-padding;

  .copyright {
    text-align: center;
    padding: 1rem;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 26px;
      color: $color-light-blue;
    }
  }
}