@import '../../../styles/settings.scss';

.root {

  h3 {
    margin: $base-padding;
  }

  .productContainer {
    border: 1px solid $font-color-header;
    border-radius: 7px;
    margin: $base-padding*0.5 $base-padding*3;

    .photo {
      padding: $base-padding*0.5;
      margin: $base-padding*0.5;
      border-radius: 7px;
      background: {
        color: $font-color-text;
      } 
    }

    img {
      width: -webkit-fill-available;
      border-radius: 7px;
    }

    .pInfo {
      font-size: $base-size;
      margin-bottom: $base-padding*0.25;
    }

    .description {
      margin: $base-padding*0.5;
      padding: 0;

      .pMain {
        padding: 0 $base-padding*0.5;
        font-size: $base-size*1.2;
      }
    }

    .pPrice {
      padding-left: $base-padding;
    }

    .comment {
      margin-left: $base-padding;
      font-size: $base-size;
      padding: 0;
      color: $font-color-text;

      .commentForm {
        width: -webkit-fill-available;
        border: 1px solid $font-color-header;
        border-radius: 7px;
        background-color: $color-light-grey;
      }
    }

    .itemButton {
      @extend .description;

      .actionButton{
        margin: $base-padding*0.5 0;
      }
    }
  }

  .line {
    margin: $base-padding 0;
    border: 1px solid $color-main;
    border-radius: 50px;
    background-color: $color-main;
  }

  .orderContainer {
    border: 1px solid $color-main-dark;
    border-radius: 7px;
    margin: $base-padding*0.5 $base-padding*20 $base-padding*0.5 $base-padding*3;
    padding: $base-padding;
  
    .values{
      padding: 0;
    }

    .pOrder {
      font-size: $base-size*1.2;
      margin-bottom: $base-padding*0.25;
    }

    .pOrderLast {
      @extend .pOrder;
      border-top: 1px solid $color-main-dark;
      border-bottom: 1px solid $color-main-dark;
      margin-bottom: $base-padding;
      padding: $base-padding*0.25 0;
    }
  
    .checkoutBtn {
      align-self: flex-end;
      margin-bottom: $base-padding*0.5;
      padding: 0;
    }
  }
}
